@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #181d31;
}

.container {
  width: 1050px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 320px;
  height: 420px;
  margin: 15px;
  overflow: hidden;
}

.container .card span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.85;
  background: #678983;
  z-index: 1;
  transition: width 0.5s, height 0.5s;
}

.container .card:hover span {
  width: 1000px;
  height: 1000px;
}

.container .card .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container .card .content div {
  padding: 40px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.2s;
  text-align: center;
}

.container .card:hover .content div {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

h2 {
  text-transform: uppercase;
}
